@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";
@import "colors";
@import "mixins";

body {
  background: #fff;
  font-family: 'SF', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, input, li {
  font-weight: 200;
}

p {
  font-size: 24px;
  letter-spacing: 1px;
}

.action {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 6px;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: rotate(180deg);
  }

  &:before,
  &:after {
    content: '';
    top: calc(50% - 1px);
    left: 4px;
    position: absolute;
    display: block;
    width: 15px;
    height: 1px;
    background: #fff;
  }
}

.fadeInEffect {
  opacity: 0;
  transition: all 1s ease;
  &.fadeIn {
    opacity: 1;
  }
}

header {
  background-image: linear-gradient(45deg, hotpink, tomato);

  h1 {
    @extend .fadeInEffect;
    margin-bottom: 24px;
    color: white;
    font-size: 64px;
    letter-spacing: 1px;
  }

  form {
    @extend .fadeInEffect;
    position: relative;
    max-width: 350px;
    margin: 0 auto;
  }

  input {
      width: 100%;
      height: 36px;
      padding: 0 44px 0 20px;
      border-radius: 20px;
      border: 0;
      outline: none;
  }

  #submit {
    @extend .action;
    background: $green;
    border: 1px solid $green;

    &:hover {
      background: darken($green, 5%);
    }

    &:before {
      transform: rotate(90deg);
    }
  }
}

#list {
  max-width: 350px;
  padding-left: 0;
  margin: 0 auto;
  list-style: none;

  li {
    position: relative;
    padding: 6px 44px 6px 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 36px;
    background: #eee;
    border-radius: 20px;
    border: 0;
    outline: none;
    &:hover {
      button {
        opacity: 1;
      }
    }
  }

  input {
    width: 100%;
    height: 24px;
    background: none;
    outline: none;
    border: 0;
  }

  span {
    display: block;
    margin-left: 1px;
  }
}

.bottom {
  .controls {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    text-align: right;
  }

  button {
    cursor: pointer;
    
    &#clear {
      display: none;
      height: 36px;
      padding: 0 20px;
      margin: 0 auto;
      background-color: #ccc;
      border: 0;
      border-radius: 20px;
      outline: none;
      transition: all 0.2s ease;

      &:hover {
        background-color: darken(#ccc, 5%);
      }
    }

    &#edit {
      display: none;
    }

    &.delete {
      @extend .action;
      background: $red;
      border: 1px solid $red;
      width: 25px;
      height: 25px;
      opacity: 0;
      transition: all 0.2s ease;
      
      &:hover {
        background: darken($red, 5%);
      }
    }
  }
}